body{
  background-color: cadetblue;
}
.App{
  background-color: rgb(80, 78, 75);
  /* background: transparent; */
  min-height: 500px;
  width: 400px;
   margin: 40px auto;
   border-radius: 10px;
   box-shadow:5px 10px #3456 ;
}

#to-do-form input{
  background-color: rgb(158, 167, 170);
  border: 0;
  width:200px;
  height:50px;
  padding:0 20px;
  margin:20px;
  border-radius: 10px;
  font-size:18px;
color: white;
}
#to-do-form input::placeholder{
  color:aliceblue;
}
#to-do-form input:focus,#to-do-form button:focus{
  outline:none
}
#to-do-form button{
  height:40px;
  width:80px;
 border-radius: 5px;
 border: none;
 background-color: coral;
 cursor:cell;
 font-weight: bolder;
 color:White;
}